
<section class="container">
@if(score() < 1000) {

    <div class="card-component">
      <div class="division-section">
        <div class="card-information">
          <h1 class="text">Hola, <span>{{ name() }}</span> estás en el nivel:</h1>
          <h2 class="text level-text"><span>01</span> | {{ level() }}</h2>
          <p class="text">
            Te faltan <span>{{ puntosFaltantes() }} pts</span> para desbloquear el siguiente Nivel
          </p>
          <div class="progress-bar-container">
            <mat-progress-bar
              mode="determinate"
              [value]="valueProgressBar()"
            ></mat-progress-bar>
            <div class="bottom-progress-bar">
              <p class="text">{{ score() }}/1000 pts</p>
              <p class="text">Próximo Nivel: <span>{{ nextLevel() }}</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="division-section">
        <div class="card-beneficios">
          <h2 class="text"><span>Beneficios del Nivel</span></h2>
          <div class="content-beneficios">
            <div class="beneficio">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M3.414 13.778L2 15.192l4.949 2.121l2.122 4.95l1.414-1.414l-.707-3.536L13.091 14l3.61 7.704l1.339-1.339l-1.19-10.123l2.828-2.829a2 2 0 1 0-2.828-2.828l-2.903 2.903L3.824 6.297L2.559 7.563l7.644 3.67l-3.253 3.253z" />
              </svg>
              <p class="text p-text"><span>x1.1 Millas</span> LATAM Pass por dólar gastado</p>
            </div>
            <div class="beneficio">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M13 2v2c4.39.54 7.5 4.53 6.96 8.92A8.014 8.014 0 0 1 13 19.88v2c5.5-.6 9.45-5.54 8.85-11.03C21.33 6.19 17.66 2.5 13 2m-2 0c-1.96.18-3.81.95-5.33 2.2L7.1 5.74c1.12-.9 2.47-1.48 3.9-1.68v-2M4.26 5.67A9.8 9.8 0 0 0 2.05 11h2c.19-1.42.75-2.77 1.64-3.9zM2.06 13c.2 1.96.97 3.81 2.21 5.33l1.42-1.43A8 8 0 0 1 4.06 13zm5 5.37l-1.39 1.37A10 10 0 0 0 11 22v-2a8 8 0 0 1-3.9-1.63zm1.52-1.57l.92-3.89l-3-2.58l3.95-.37L12 6.35L13.55 10l3.95.33l-3 2.58l.92 3.89L12 14.74z" />
              </svg>
              <p class="text p-text">Acceso a <span>salones VIP</span> en Chile</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-card">
        <h3 class="text title"><span>¿Cómo subo de nivel?</span></h3>
      </div>
    </div>
    <button (click)="getRandomeValue()" mat-flat-button>Cambiar value</button>

} @else {

    <div class="card-component level-update">
      <img class="img-confeti" src="./648695_03eca.gif" >
      <div class="division-section divison-success">
        <div class="card-information information-success">
          <h1 class="text">¡Felicidades, eres <span>{{nextLevel()}}</span>!</h1>
        </div>
      </div>
      <div class="division-section divison-success">
        <div class="card-beneficios">
          <div class="information">
            <p class="text">Tu nivel</p>
            <p class="text"><span>02</span> | {{nextLevel() | uppercase }}</p>
          </div>
          <div class="new-benefits-section">
            <div class="new-benefit">
              <div class="new-benefit-info">
                <div class="info-name">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path fill="black" d="M17.66 11.2c-.23-.3-.51-.56-.77-.82c-.67-.6-1.43-1.03-2.07-1.66C13.33 7.26 13 4.85 13.95 3c-.95.23-1.78.75-2.49 1.32c-2.59 2.08-3.61 5.75-2.39 8.9c.04.1.08.2.08.33c0 .22-.15.42-.35.5c-.23.1-.47.04-.66-.12a.6.6 0 0 1-.14-.17c-1.13-1.43-1.31-3.48-.55-5.12C5.78 10 4.87 12.3 5 14.47c.06.5.12 1 .29 1.5c.14.6.41 1.2.71 1.73c1.08 1.73 2.95 2.97 4.96 3.22c2.14.27 4.43-.12 6.07-1.6c1.83-1.66 2.47-4.32 1.53-6.6l-.13-.26c-.21-.46-.77-1.26-.77-1.26m-3.16 6.3c-.28.24-.74.5-1.1.6c-1.12.4-2.24-.16-2.9-.82c1.19-.28 1.9-1.16 2.11-2.05c.17-.8-.15-1.46-.28-2.23c-.12-.74-.1-1.37.17-2.06c.19.38.39.76.63 1.06c.77 1 1.98 1.44 2.24 2.8c.04.14.06.28.06.43c.03.82-.33 1.72-.93 2.27" />
                  </svg>
                  <p class="text text-success"><span>Javiera López</span></p>
                </div>
                <p class="text text-success">Descubre más detalles de tu nivel</p>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 24">
                <defs>
                  <path id="weuiArrowOutlined0" fill="black" d="m7.588 12.43l-1.061 1.06L.748 7.713a.996.996 0 0 1 0-1.413L6.527.52l1.06 1.06l-5.424 5.425z" />
                </defs>
                <use fill-rule="evenodd" href="#weuiArrowOutlined0" transform="rotate(-180 5.02 9.505)" />
              </svg>
            </div>
            <div class="new-benefit">
              <div class="new-benefit-info">
                <div class="info-name">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path fill="black" d="M20.56 3.91c.59.59.59 1.54 0 2.12l-3.89 3.89l2.12 9.19l-1.41 1.42l-3.88-7.43L9.6 17l.36 2.47l-1.07 1.06l-1.76-3.18l-3.19-1.77L5 14.5l2.5.37L11.37 11L3.94 7.09l1.42-1.41l9.19 2.12l3.89-3.89c.56-.58 1.56-.58 2.12 0" />
                  </svg>
                  <p class="text text-success">Tienes: <span style="color: rgb(0, 195, 255);">29.890 millas</span></p>
                </div>
                <p class="text text-success"><span>17.298</span> millas vencerán el <span>31-12-27</span></p>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 24">
                <defs>
                  <path id="weuiArrowOutlined0" fill="black" d="m7.588 12.43l-1.061 1.06L.748 7.713a.996.996 0 0 1 0-1.413L6.527.52l1.06 1.06l-5.424 5.425z" />
                </defs>
                <use fill-rule="evenodd" href="#weuiArrowOutlined0" transform="rotate(-180 5.02 9.505)" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button (click)="score.set(0)" mat-flat-button>Volver</button>

}
</section>
